.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 40px;
    color: #000;
    line-height: 1;
}

.form-group {
    margin-bottom: 26px;
}

.label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #000;
}

.form-control {
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 180px;
    height: 45px;
    background-color: #43a047;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 5px;
}

.btn-submit:hover {
    background-color: #388e3c;
}

.error-feedback {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}